body {

}

.page {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  margin: 0;
}

.block1 {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.block2{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.block3 {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}