
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

html {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: #ffffff;
}

section {
    padding: 10rem 0;
    background-color: #000;
}

.card-training-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card-training {
    width: 32rem;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow:  .5rem .5rem 3rem rgb(0,0,0,0.2);
    transition: all 1.5s;
}

.card-training:hover {
    transform:translateY(-20px);
    box-shadow: .5rem .5rem 2rem rgb(0,0,0,0.9);
}

.card-training:active {
    transform: translateY(0);
    box-shadow: 0;
}

.card-training .card-img {
    width: 100%;
    height: 34rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

}

.card-training .numbers-text {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    margin-top: -10rem;
    background: #000000;
    color: #f1f1f1;
    font-size: 7rem;
    padding-top: 3rem;
    font-weight: 900;
    text-align: center;
    z-index: 100;

}
.card-training h3 {
    font-size: 2rem;
    color: #dddddd;
    text-transform: uppercase;
    margin: 2.5rem 0;
    padding-top: 3rem;
}

.training-price {
    color: #cdcdcd;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1rem 0 0;
    text-transform: uppercase;
}


.card-training .btn {
    padding: 1rem 2.5rem;
    background-color: #c82127;
    border-radius: 1rem;
    margin: 3rem 0;
    text-transform: uppercase;
    color: #f1f1f1;
    font-size: 1.5rem;
    transition: all .5s;
}

.card-training .btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgb(0,0,0,0.2);
}

.card-training .btn:active {
    transform: translateY(0);
    box-shadow: none;
}

@media screen and (min-width: 700px) {

    .card-training-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card-training{
        margin: 2rem;
    }

}




