* {
    margin: 0;
    padding: 0;

}

body {
    background:#333;
    font-family: sans-serif;
}

.box {
    width: 350px;
    padding: 50px;
    position: absolute;
    background-color:#252525;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    box-shadow: 2rem 1.5rem 6rem rgb(0,0,0,.7);
}

.box input[type = "text"],.box input[type = "password"] {
    border: 0;
    background: none;
    font-size: .9rem;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #313131;
    padding: 14px 10px;
    width: 230px;
    outline: none;
    color: #f1f1f1;
    border-radius: 25px;
    transition: 1s;
}

.box h1 {
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
}


.box input[type = "text"]:focus,.box input[type = "password"]:focus {
    width: 270px;
    border-color: #ed1b24;
    color: #fff;
}


.box input[type = "submit"] {
    background: #c61821;
    padding: .8rem 1.1rem;
    color: #fff;
    font-size: .99rem;
    border: 0;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 20px;
}

.box input[type = "submit"]:hover {
    background: #ea1b23;
}